.navbar {
    background-color: #5b4caf;
    font-family: 'Times New Roman', Times, serif;
}

.navbar a {
    color: white;
}

.navbar hr {
    color: black;
}

.divcarrusel {
    padding-top: 6%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
}

/* estilo footer */
.estilofooter {
    background-color:#5b4caf ;
    margin-bottom: -1%;
    margin-top: 2%;
}

.estilofooter p {
    color: white;
    text-align: center;
}

.estiloimagen {
    margin-bottom: 3%;
    margin-top: 1%;
}

h1 {
    margin-top: 5%;
    margin-bottom: 1%;
    color: blue;
}

.estiloinput{
    margin-bottom: 5%;
}